header {
  padding-top: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  .pokemonLogo {
    display: block;
    margin-left: 30%;
    width: 150px;
    @media only screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }

  mat-form-field {
    width: 90%;
    @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 0 10px;
    }
  }
}

