/* Energy Types */
.energy {
  background-image: url('../../assets/images/energy-types.png.png');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 3px;
}

.energy.grass {
  background-position: -25px -50px;
}

.energy.colorless {
  background-position: -25px 0px;
}

.energy.fire {
  background-position: 0px 0px;
}

.energy.water {
  background-position: -75px -50px;
}

.energy.lightning {
  background-position: -50px -50px;
}

.energy.darkness {
  background-position: 0px -50px;
}

.energy.fairy {
  background-position: -50px 0px;
}

.energy.psychic {
  background-position: -75px -25px;
}

.energy.metal {
  background-position: -75px 0px;
}

.energy.dragon {
  background-position: 0px -25px;
}

.energy.fighting {
  background-position: -50px -25px;
}
