.mdc-layout-grid {
  margin-top: 15px;
  .pokemon-card {
    position: relative;
    cursor: pointer;
    box-shadow: none;
    .background-image img{
      width: 95%;
      display: block;
      margin: auto 0;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .frontCustom {
      display: none;
      width: 87%;
      height: 93%;
      border-radius: 15px;
      color: #FFFFFF;
      background-color: rgba($color: #000000, $alpha: .8);
      text-align: center;
      position: absolute;
      z-index: 99999;
      .infos {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
      }
      button {
        margin: 0 auto;
        font-size: 50px;
        mat-icon {
          font-size: 50px;
          width: 50px;
          height: 50px;
        }
      }
      @media only screen and (max-width: 768px) {
        width: 91%;
      }
    }
    &:hover {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      .frontCustom {
        display: block;
      }
      .frontCustom, .mat-card-image {
        transform: scale(1.1);
      }
    }
  }
}
